doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    div.header
      a(href="/") Home
      a(href="/api") api
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    block content

    script(src="/js/jquery-3.6.0.min.js")
    script(src="/js/index.js")
